<nb-card>
  <nb-card-header>
    User List
  </nb-card-header>
  <nb-card-body class="scroll-user-list">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <table class="w-100" style="border-collapse:separate;
        border-spacing:0 15px;">
          <tbody>
            <div class="row">
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <div class="col-md-6">
                <tr style="box-shadow: 0px 0px 6px;
                border-radius: 15px;">
                  <div (click)="openRecord()" class="row" style="padding: 10px 15px;">
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">First Name :</label>
                        <span style="font-size: 11px;">Kushal</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Last Name :</label>
                        <span style="font-size: 11px;">Mehta</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Email :</label>
                        <span style="font-size: 11px;">kushal.autotech@gmail.com</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Contact No :</label>
                        <span style="font-size: 11px;">9876543210</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-12" style="margin: 10px 0px;">
                      <div style="display: flex;line-height: 12px;justify-content: space-between;">
                        <label style="font-size: 13px;
                        font-weight: bold;" for="firstName">Address :</label>
                        <span style="font-size: 11px;">A/211 Union Heights</span>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>


  </nb-card-body>
</nb-card>
